[Unit]
Description=Backup handling of virtual KVM guests
After=syslog.target default.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/bin/virt-backup.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=default.target
